<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenLayers3Exercise1</title>
    <link rel="stylesheet" href="ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="map" class="map"></div>

<script type="text/javascript" src="CommonVariable.js"></script>
<script type="text/javascript" src="SetMap.js"></script>
<script type="text/javascript" src="DrawLine.js"></script>


</body>
</html>